body {
  margin: 0;
  padding:0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
i {
  cursor: pointer;
}

button {
  cursor: pointer;
}